<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
	<resultMap type="board" id="boardMap">
		<result property="boardNo" column="board_no" />
		<result property="boardTitle" column="board_title"/>
		<result property="boardContent" column="board_content"/>
		<result property="boardWriter" column="board_writer"/>
		<result property="regDate" column="reg_date"/>
		<result property="modDate" column="mod_date"/>	
	</resultMap>
	<insert id="insertBoard" parameterType="board">
		INSERT INTO `board`(board_title ,board_content ,board_writer)
		VALUES(#{boardTitle},#{boardContent},#{boardWriter})
	</insert>
	
	<delete id="deleteBoard" parameterType="_int">
		DELETE FROM board
		WHERE board_no = #{boradNo}
	</delete>
	
	<update id="updateBoard" parameterType="board">
		UPDATE `board`
		SET board_title = #{boardTitle}
		,board_content = #{boardContent}
		WHERE board_no = #{boardNo}
	</update>
	
	<select id="selectBoardList" 
	resultType="board" resultMap="boardMap" parameterType="board">
		SELECT * 
		FROM `board`
		<if test='searchType != -1'>
			<where>
				<if ></if>
			</where>
		</if>
	</select>
	<select id="selectBoardOne" resultMap="boardMap" parameterType="_int">
		SELECT *
		FROM `board`
		<where>
			board_no = #{board_no}
		</where>
	</select>
	<select id="selectBoardTwo" parameterType="map" resultMap="boardMap">
		SELECT *
		FROM `board`
		<where>
			board_title LIKE CONCAT('%',#{board_title},'%')
			AND board_content LIKE CONCAT('%',#{board_content},'%')
		</where>
	</select>
	
	<select id="selectBoardObj" parameterType="board" resultMap="boardMap">
		SELECT *
		FROM `board`
		WHERE board_title LIKE CONCAT('%',#{boardTitle},'%')
		AND board_content LIKE CONCAT('%',#{boardContent},'%')
	</select>
</mapper>